body {
  float: right;
  padding-right: -25px;
  animation: fadeInUp 1s ease-in-out 0s forwards;
}
@keyframes fadeInUp {
  from { 
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

ul{
    margin-top: -16px;
    padding: 8px;
    list-style: none;
    text-align: center;
    z-index: 1;
    margin-left: -10px;
    color: white;
}
.navigation{
  color: white;
}
ul li{
    font-family: tahoma;
    font-size: 15px;
    float: left;
    text-indent: -150px;
    width: 331px;
    height: 40px;
    margin-right: 5px;
    margin-left: -5px;
    opacity: 0.9;
    line-height: 40px;
    font-style: 20px; 
    background: #544f4d; 
    background: -moz-linear-gradient(top, #544f4d 38%, #0a0e0a 78%, #0a0809 100%); 
    background: -webkit-linear-gradient(top, #544f4d 38%,#0a0e0a 78%,#0a0809 100%);
    border-radius: 8px;

}
ul .child{
  display: none;
  margin-top: -8px;
  margin-left: -2px;
}
ul li a{
  color: white;
  text-decoration: none;
  margin-left: 130px;
}
ul li a:hover{
  color: #ffc5fc;
  text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;
}
ul li:hover{
  cursor: pointer;
  background: #cb60b3; 
  background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); 
  background: -webkit-linear-gradient(top, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%); 
  z-index: 999;
}
.child:hover ul li{
  color: black;
  margin-top: -15px;
  margin-bottom: -8px;
  background: #cb60b3; 
  background: -moz-linear-gradient(top, #cb60b3 0%, #c146a1 50%, #a80077 51%, #db36a4 100%); 
  background: -webkit-linear-gradient(top, #cb60b3 0%,#c146a1 50%,#a80077 51%,#db36a4 100%);
  z-index: 999;
}

.gambar1{
  background-image: url(captainmarvel.png);
  width: 200px;
  height: 200px;
  margin-top: 80px;
  margin-left: 0px;
  -webkit-animation: roll-in-left 3s ease-out both;
  animation: roll-in-left 3s ease-out both;
}
@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
            transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.gambar2{
  background-image: url(hawkeye.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 218px;
  -webkit-animation: bounce-in-top 3s both;
  animation: bounce-in-top 3s both;
  position: relative;
  z-index: -9;
}
.gambar3{
  background-image: url(doctorstrange.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 436px;
  -webkit-animation: bounce-in-top 3s both;
  animation: bounce-in-top 3s both;
  position: relative;
  z-index: -9;
}
.gambar4{
  background-image: url(warmachine.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 654px;
  -webkit-animation: bounce-in-top 3s both;
  animation: bounce-in-top 3s both;
  position: relative;
  z-index: -9;
}
.gambar5{
  background-image: url(blackphanter.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 870px;
  -webkit-animation: bounce-in-top 3s both;
  animation: bounce-in-top 3s both;
  position: relative;
  z-index: -9;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.gambar6{
  background-image: url(falcon.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 1090px;
  -webkit-animation: roll-in-right 3s ease-out both;
   animation: roll-in-right 3s ease-out both;
   position: relative;
  z-index: -9;
}
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
            transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.gambar7{
  background-image: url(wasp.png);
  width: 200px;
  height: 200px;
  margin-top: 40px;
  margin-left: 0px;
  -webkit-animation: slit-in-diagonal-1 3s ease-out both;
  animation: slit-in-diagonal-1 3s ease-out both;
}
@-webkit-keyframes slit-in-diagonal-1 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
            transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
            transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
            transform: translateZ(0) rotate3d(1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes slit-in-diagonal-1 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
            transform: translateZ(-800px) rotate3d(1, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
            transform: translateZ(-160px) rotate3d(1, 1, 0, 87deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(1, 1, 0, 0);
            transform: translateZ(0) rotate3d(1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
.gambar8{
  background-image: url(starlord.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 215px;
  -webkit-animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.gambar9{
  background-image: url(nickfury.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 430px;
  -webkit-animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.gambar10{
  background-image: url(groot.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 650px;
  -webkit-animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.gambar11{
  background-image: url(loki.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 870px;
  -webkit-animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bck-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(1200px);
            transform: translateZ(1200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    -webkit-transform: translateZ(1200px);
            transform: translateZ(1200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

.gambar12{
  background-image: url(thanos.png);
  width: 200px;
  height: 200px;
  margin-top: -200px;
  margin-left: 1090px;
  -webkit-animation: slit-in-diagonal-2 3s ease-out both;
  animation: slit-in-diagonal-2 3s ease-out both;
}
@-webkit-keyframes slit-in-diagonal-2 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
            transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
            transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
            transform: translateZ(0) rotate3d(-1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes slit-in-diagonal-2 {
  0% {
    -webkit-transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
            transform: translateZ(-800px) rotate3d(-1, 1, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  54% {
    -webkit-transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
            transform: translateZ(-160px) rotate3d(-1, 1, 0, -87deg);
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    opacity: 1;
  }
  100% {
    -webkit-transform: translateZ(0) rotate3d(-1, 1, 0, 0);
            transform: translateZ(0) rotate3d(-1, 1, 0, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.background{
  background-image: url(backgroundz.jpg);
  background-repeat: no-repeat;
  width: 99.9%;
  height: 100%;
  margin-top: -550px;
  margin-left: -27px;
  margin-right: 20px;
  z-index: -99;
  position: absolute;
}
/*-------- Footer---------*/


.footer{
    font-family: tahoma;
    width: 97.5%;
    margin-top: 83px;
    background-color: #d5d5d5;
    padding: 20px;
    border-top: 3px solid #9f9f9f;
    border-bottom: 3px solid #9f9f9f;
    height: 0px;
    font-size: 1vw;
    margin-left: -28px;
    margin-bottom: -1px;
    position: fixed;
}

.container1 {
    display: inline-block;
    float: left; 
    margin-top: -10px;
    margin-left: 25px;
}

.container2{
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
    float: right;
}

/*---- responsive-----*/

