body {
  float: right;
  padding-right: -23px;
  -webkit-animation: bounce-in-top 3s both;
  animation: bounce-in-top 3s both;
}
@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
ul{
    margin-top: -16px;
    padding: 8px;
    list-style: none;
    text-align: center;
    z-index: 1;
    margin-left: 3px;
    color: white;
}
.navigation{
  color: white;
}
ul li{
    font-family: tahoma;
    font-size: 15px;
    float: left;
    text-indent: -150px;
    width: 331px;
    height: 40px;
    margin-right: 6px;
    margin-left: -9px;
    opacity: 0.9;
    line-height: 40px;
    font-style: 20px; 
    background: #544f4d; 
    background: -moz-linear-gradient(top, #544f4d 38%, #0a0e0a 78%, #0a0809 100%); 
    background: -webkit-linear-gradient(top, #544f4d 38%,#0a0e0a 78%,#0a0809 100%);
    border-radius: 8px;
}
ul .child{
  display: none;
  margin-top: -8px;
  margin-left: -2px;
}
ul li a{
  color: white;
  text-decoration: none;
  margin-left: 130px;
}
ul li a:hover{
  color: #fac4ff;
  text-shadow: -.25px -.25px 0 black, 
                .25px .25px black;
}
ul li:hover{
  cursor: pointer;
  background: rgb(203,96,179); 
  background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(173,18,131,1) 50%, rgba(222,71,172,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%);
  z-index: 999;
}
.child:hover ul li{
  color: black;
  margin-top: -15px;
  margin-bottom: -8px;
  background: rgb(203,96,179); 
  background: -moz-linear-gradient(top, rgba(203,96,179,1) 0%, rgba(173,18,131,1) 50%, rgba(222,71,172,1) 100%); 
  background: -webkit-linear-gradient(top, rgba(203,96,179,1) 0%,rgba(173,18,131,1) 50%,rgba(222,71,172,1) 100%);
  z-index: 999;
}

.mutan{
  margin-left: 100px;
  margin-top: 30px;
  width: 900px;
  position: absolute;
}

.aneh{
  position: absolute;
  overflow: hidden;
  animation-name: rightFadeInOut;  
  animation-delay: 3s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-left: -100px;
}
p{
  position: absolute;
  margin-left: -100px;
}

@keyframes rightFadeInOut {
  0% {
    right: 100px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    right: -110px;
    overflow: visible;
    position: relative;
  }
}

.gambar1{
  background-image: url(mutant1.jpg);
  width: 200px;
  height: 130px;
  margin-top: 50px;
  margin-left: 900px;
  animation-name: leftFadeInOut;
  animation-delay: 3s;
  animation-duration: 3s;
  overflow: hidden;
  position: relative;
}

.gambar2{
  background-image: url(mutant2.jpg);
  width: 200px;
  height: 100px;
  margin-top: 15px;
  margin-left: 900px;
  animation-name: leftFadeInOut;
  animation-delay: 3s;
  animation-duration: 3s;
  overflow: hidden;
  position: relative;
}

.gambar3{
  background-image: url(mutant3.jpg);
  width: 185px;
  height: 130px;
  margin-top: 15px;
  margin-left: 900px;
  animation-name: leftFadeInOut;
  animation-delay: 3s;
  animation-duration: 3s;
  overflow: hidden;
  position: relative;
}

.gambar4{
  background-image: url(mutant4.jpg);
  width: 200px;
  height: 120px;
  margin-top: 15px;
  margin-left: 900px;
  animation-name: leftFadeInOut;
  animation-delay: 3s;
  animation-duration: 3s;
  overflow: hidden;
  position: relative;
}

@keyframes leftFadeInOut {
  0% {
    left: 100px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}

.background{
  background: url(x-men.jpg);
  background-repeat: no-repeat;
  width: 1370px;
  height: 750px;
  z-index: -9999;
  position: absolute;
  opacity: 0.15;
  margin-top: -720px;
  margin-left: -32px;
}
/*-------- Footer---------*/


.footer{
    font-family: tahoma;
    width: 99%;
    margin-top: 27px;
    margin-bottom: -100px;
    background-color: #d5d5d5;
    padding: 20px;
    border-top: 3px solid #9f9f9f;
    border-bottom: 3px solid #9f9f9f;
    height: 0px;
    font-size: 1vw;
    margin-left: -25px;
    position: absolute;
}

.container1 {
    display: inline-block;
    float: left; 
    margin-top: -10px;
    margin-left: 25px;

}

.container2{
    display: inline-block;
    margin-top: -10px;
    margin-right: -10px;
    float: right;
}

/*---- responsive-----*/

